{{#extends "base"}}

{{#block "title"}}Edit{{/block}}

{{#block "content"}}
<h1>Edit Employee</h1>
<form method="POST">
    <div class="mb-3">
        <label>Name</label>
        <input type="text" class="form-control" name="name" value="{{employee.name}}">
    </div>
    <div class="mb-3">
        <label>Designation</label>
        <input type="text" class="form-control" name="designation" value="{{employee.designation}}">
    </div>
    <div class="mb-3">
        <label>Department</label>
        <input type="text" class="form-control" name="department" value="{{employee.department}}">
    </div>
    <div class="mb-3">
        <label>Date Joined</label>
        <input type="date" class="form-control" name="date_joined" value="{{employee.date_joined}}">
        {{!-- <input type="date" class="form-control" name="date_joined" value="{{date_joined}}"> --}}
    </div>
    <div class="mb-3">
        <label>Supervisor</label>
        <input type="text" class="form-control" name="supervisor_name" value="{{supervisor.name}}">
    </div>
    <div class="mb-3">
        <label>Ranking</label>
        <input type="text" class="form-control" name="supervisor_ranking" value="{{employee_supervisor.ranking}}">
    </div>
    <button type="submit" class="btn btn-primary">Update Employee</button>
</form>
{{/block}}
{{/extends}}
