{{#extends "nav"}}

{{#block "title"}}Read{{/block}}

{{#block "content"}}
<h1>Employees</h1>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Designation</th>
        <th>Department</th>
        <th>Date Joined</th>
        <th>Supervisor</th>
        <th>Ranking</th>
        <th>Action</th>
    </tr>
    {{#each employees}}
    <tr>
        {{!-- Obtaining the Results with Nested Tables --}}
        <td>{{Employees.name}}</td>
        <td>{{Employees.designation}}</td>
        <td>{{Employees.department}}</td>
        {{!-- <td>{{Employees.date_joined}}</td> --}}
        <td>{{date_joined}}</td>
        <td>{{Supervisors.name}}</td>
        <td>{{EmployeeSupervisor.ranking}}</td>
        <td>
                <a href="/api/admin/employees/{{Employees.employee_id}}/edit" class="btn btn-primary btn-sm">Edit</a>
                <a href="/api/admin/employees/{{Employees.employee_id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                {{!-- <a href="http://localhost:3000/api/admin/employees/{{Employees.employee_id}}/edit" class="btn btn-primary btn-sm">Edit</a> --}}
                {{!-- <a href="http://localhost:3000/api/admin/employees/{{Employees.employee_id}}/delete" class="btn btn-danger btn-sm">Delete</a>         --}}
        </td>
    </tr>
    {{/each}}
</table>
{{/block}}
{{/extends}}
