{{#extends "nav"}}

{{#block "title"}}BELLS-TEST-5{{/block}}

{{#block "content"}}

<h1>Taskforces</h1>
<table class="table">
    <tr>
        <a class="nav-link" href={{fetchURLEmployees}}>Employees</a>
        <a class="nav-link" href={{{fetchURLContact}}}>Contact</a>
        <a class="nav-link" href="{{fetchURLSupervisor}}">Supervisor</a>
        <th>Taskforce</th> 
        <th>Name</th>
        <th>Role</th>
        <th>{{link people.text people.url}}</th>
        {{!-- <a target="_blank" {{link people.text people.url}}><img src="AI-eCommerce-for-web-app.png" class="link-icon" /></a> --}}
        {{!-- <a {{link people.text people.url}}><img src="https://picsum.photos/id/292/300/200" alt="Picture PNG" class="link-icon" /></a> --}}
        <a target="_blank" {{attr 'href' general.link1}}><img style={ width='240px'; height='240px' } src="./../../img/AI-eCommerce-for-web-app.png" alt="AI-Picture PNG" class="link-icon" /></a>
        <a target="_blank" {{attr 'href' general.link2}}><img src="https://picsum.photos/id/292/300/200" class="link-icon" /></a>
    </tr>
    {{#each employees}}
    <tr>
        {{!-- Creating the route to view all the employees with their contacts --}}
        {{!-- Obtaining the Results with Normal Tables --}}
        <td>{{Taskforces.taskforce_name}}</td>
        <td>{{Employees.name}}</td>
        <td>{{EmployeeTaskforce.role}}</td>
    </tr>
    {{/each}}
</table> 
       
{{/block}}
{{/extends}}
